<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input
                type="text"
                id="name"
                class="form-control"
                #name='ngForm'
                ngControl="name"
                minlength="3"
                required
        >
        <div class="alert alert-danger" *ngIf="name.touched && name.errors">
            <div *ngIf="name.errors.required">
                Name is required
            </div>
            <div *ngIf="name.errors.minlength">
                Name should be minimum {{name.errors.minlength.requiredLength}} characters.
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">submit</button>
</form>